<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
    <form method="post" action="/login" >
       <h1>
        Welcome to Library Management system
       </h1>
       <p>
        <a href="/add" class="btn border border-primary d-inline m-5">User</a>
    </p>
    <p>
        <a href="/push" class="btn border border-primary d-inline m-5">Admin</a>
    </p>
    </form>

</div>

<%- include('./partials/footer') %>
